{% extends 'base.twig' %}

{% block header %}

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h1>cmpgn</h1>

			</div>

		</div>

	</div>

{% endblock %}

{% block content %}

	<div class="container">

		<div class="row">

			<div class="col-md-2">

				<div class="drawer-anchor"></div>

				<div class="drawer">

					<div class="contents">

						<div>Calendar</div>
						<div>Campaign Log</div>
						<div>Characters</div>

					</div>

					<div class="pull">[+]</div>

				</div>

			</div>

			<div class="col-md-8">

				<div class="content">

					<p>Outside the inn, a  hysterical farmer stood in the middle of the road wailing, “Oh my poor children!” and “My dear Tilly. My dear Ted!” over and over again. With a bit of help from Menilhir, Captain of the Guard, Duinhir and The Widow were able to calm the farmer down long enough to learn that Combe had been attacked at sundown by Orcs and wild wolves. After setting several farmsteads ablaze, the raiding party had made off with poor Teddy and Tilly.</p>

					<p>Things looked grim for the poor farmer, who’s name by the way was Edmund, and his children. The company knew that if they did not set out right away that the outcome might very well be grimmer still. They made haste to Edmund’s farm where The Widow was able to use her sharp eye to determine that the raiding party was made up of a half dozen or so Orcs and a few Wargs. They tried to convince Edmund to stay behind, but he would hear nothing of it. Thankfully, Menilhir, who had made the journey from Bree, volunteered to come along - if only to keep Edmund at bay.</p>

					<p>Alaglîr, Bowen, Duinhir and The Widow tracked the Orcs and Wargs through the night by the light of the harvest moon. At dawn, Alaglîr heard rough voices just over the next rise. Bowen, being the smallest and stealthiest, crept up to peer down the other side. He soon reported back that what appeared to be Orcs were holed up in a dell overhung with small trees.</p>

					<p>Fearing for the children, the company decided to try to ambush the orcs. Edmund insisted on joining until The Widow said sternly, “You’ll be no good to your children dead”,  thus convincing him to stay behind. Menilhir stayed behind as well to ensure that Edmund kept his word.</p>

					<p>The Orcs did not expect the Bree-landers to give chase, so they did not set a watch. This allowed the company to approach without being noticed. When they had gotten close enough, Alaglîr’s bow Brêglath  sang out, nearly felling an Orc with a single arrow. Much to Alaglîr’s surprise (and delight), Bowen’s hunting bow squarely made its mark as well.</p>

					<p>Speaking of Bowen, when the Orcs realized there was a Hobbit in the company, they were whipped into a frenzy and cried out “curse the Bullroarer” and “Golfimbul’s bane” again and again. Thankfully, for Teddy and Tilly (and Edmund, of course), the children were completely forgotten as a result.</p>

					<p>The Orcs and Wargs fought viciously but were no match for our heroes. Bowen and Duinhir sprung into the mouth of the dell, making way for The Widow to reach the children. Alaglîr held back notching and loosing arrow after arrow from Brêglath.</p>

					<p>While working with Alaglîr to pile the Orcs and Wargs onto a makeshift pyre, Duinhir was able to identify the crude insignia of Mount Gram on the helms and shields of the fallen Orcs. He also noticed that packs, provisions or anything other than gear of war were nowhere to found.</p>

					<p>This left the company with unanswered questions. Why were Orcs from so far North conducting raids in Bree? Where were their supplies? Did they have a lair somewhere nearby?</p>

				</div>

			</div>

		</div>

	</div>

{% endblock %}

{% block footer %}
{% endblock %}